@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #FFFFFF;
  --foreground: #0F0F0F;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0F0F0F;
    --foreground: #FFFFFF;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

::-webkit-scrollbar {
  width: 0; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}

::-webkit-scrollbar {
  width: 0;
  height: 0;  /* For horizontal scrollbar */
}

body::-webkit-scrollbar {
  display: none;  /* Chrome, Safari and Opera */
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
